<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="f1" connectionString="Data source=localhost\MSSQLSERVER01;Initial catalog=f1;Integrated Security=true"/>
	</connectionStrings>
</configuration>